
<div class="row">
  <h2>Formations</h2>
  <ul *ngFor="let formation of formations" class="col-4">
    <li><img src="{{formation.logo}}"/></li>
    <li>Ecole : {{formation.ecole}}</li>
    <li>Diplôme : {{formation.titre}}</li>
    <li>Niveau : {{formation.niveau}}</li>
    <li>Année : {{formation.annee}}</li>
    <li>Langages :
      <ul *ngFor="let comp of formation.competences">
        <li>Back : {{comp.back}}</li>
        <li>Front : {{comp.front}}</li>
        <li>Base de données : {{comp.database}}</li>
        <li *ngIf="comp.mobile">Développement mobile : {{comp.mobile}}</li>
      </ul>
    </li>
  </ul>
</div>


